/* emulate Bootstrap 'fa fa-fw fa-external' in single class */
a[rel="external"]:after,
a.external:after {
    display: inline-block;
    font: 90% FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(2px, 1px);
    width: 1.28571429em;
    text-align: center;
    content: " \f08e";
}

#header {
	height: 120px;
	box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
}

#header-bg-image {
    background-image: url(https://aodnsite.files.wordpress.com/2016/02/cropped-nature-clear-sky-blue-water4.jpg);
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
}

#headerContainer {
   float:left;
}

#headerTitle {
	margin-left: 35px;
	padding-top: 37px;
	
	width: 100%;
    height: 84px;
	overflow: hidden;
	background: url(//data.imas.utas.edu.au/static/img/header-text.png) no-repeat 6px 10px transparent;
	
	font-size: 37px;
    text-indent: 100%;
    white-space: nowrap;
}

@media (max-width: 800px) {

    #headerContainer #headerTitle {
        font-size: 28px;
    }
}

#logoContainer {
    position: relative;
    overflow: hidden;

	float:left;
	
	margin-top: 20px;
	margin-left: 25px;
	padding-left: 0;
	
	width: 410px;
}

#logoContainer img {
	width:100%;
}

#secondaryLogoContainer {
	position:absolute;
	top:40px;
	right:40px;
}

#toplinks {
    color: #a4d2ee;
    float: right;
    position: absolute;
    right: 20px;
    top: 12px;
}

#toplinks a {
    color: #FFFFFF;
    font-size: 15px;
}

#toplinks a:hover {
    color: grey;
    text-shadow: none;
}

.mainlinks {
    margin-right: 10px;
    margin-left: 5px;
    padding-left: 10px;
}

/* Rules specific to this site only (portal-branding-rls): */

#logoContainer {
    margin-left: 70px;
}
